*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min(100%, 800px);
    margin: 0 auto;
    border: 2px solid burlywood;
    gap: clamp(6px, 2vw, 20px);
    padding: clamp(6px, 4vw, 20px);
}


.card {
    width: 100%;
    aspect-ratio: 1 / 1;
    color: rgba(00, 00, 00, 0);
    overflow: hidden;
    border: 1px solid rosybrown;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.card.active .card-image{
    opacity: 1;
}